@charset "utf-8";

body{
    background-color: #313435;
}

.piu{
    margin-bottom: 10px;
}

input[type=submit]{
    background-color: #e75e8d;
    border-radius: 5px 5px 5px 5px;
    border: none;
    width: 5vw;
    height: 40px;
}

#comprar:hover{
    background-color: #aa5370;
}

.compra{
    padding: 10px;
}

*{
    color: white;
    padding: 0;
    margin: 0;
}

#xerec{
    width: 100%;
}

#xerec2{width: 100%;}

.a{
    display: flex;
    flex-direction: column;
    background-color: #3a2e38;
    width: 34vw;
    height: 100%;
    margin: 10px 10px 10px 5px;
}

.descinfo
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    line-break: auto;
    font-size: small;
}

.desc{
    display: flex;
    flex-direction: column;
    background-color: #3a2e38;
    width: 34vw;
    height: 100%;
    margin: 10px 10px 10px 5px;
}

.maincada{
    display: flex;
    flex-direction: row;
    background-color: #3a2e38;
    margin-left: 15vw;
    margin-right: 15vw;
    margin-top: 5vh;
    width: 70vw;
    height: 100%;
}

.imgcada{
    width: 5vw;
}

.head{
    display: flex; 
    flex-direction: column;
    margin: none;
    background-color: #3a2e38; 
    width: 100%;
    border-radius: 0px 0px 10px 10px;
}